Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
miditoolkit==0.1.14
numpy==1.18.5
opt-einsum==3.2.1
pandas==1.0.5
tensorboard==2.2.2
tensorboard-plugin-wit==1.7.0
tensorflow==2.2.0
tensorflow-estimator==2.2.0
matplotlib==3.3.0